@model List<LootModel>
@{
    ViewData["Title"] = "Bosses";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<div class="text-center">
    <h1 class="display-4">@Model[0].Boss Stats</h1>


    <table id="tabelaLootsBoss" class="table table-bordered table-hover display compact" >
        <thead>
            <tr>
                <th>Id</th>
                <th class="nosort">Date</th>
                <th>Item</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>

            @{
                int contador = Model.Count;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@contador</td>
                        <td>@item.Data</td>
                        @*<td><a class="page-link" onclick="Modal();" href="#">@item.Item</a></td>*@
                        <td><a asp-action="Boss" asp-controller="loot">@item.Item</a></td>

                        <td>@item.Quantidade</td>
                    </tr>
                    contador--;
                }
            }
        </tbody>
        <tfoot>

        </tfoot>
    </table>


</div>

@section Scripts{
    <!-- JS -->

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript">

        function Modal() {
            alert('teste');
        }
    </script>
}
